---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Analisi 3']}>
    <h1 slot="header-title">Analisi 3</h1>
    <div class="content">
        <div class="text">
            <p>
                Dispense per il corso di Analisi 3 del professor <em>Alberti</em> dell'anno 2021/2022 scritte in collaborazione
                con <a href="https://ar-lli.github.io/">@ar-lli</a>.
            </p>
            <ul>
                <li>
                    <a href="https://github.com/aziis98/appunti-analisi-3/raw/main/main.pdf"> Dispense di Analisi 3 </a>
                    (link sempre all'ultima versione)
                </li>
                <li>
                    <a href="https://github.com/aziis98/appunti-analisi-3"> Repo git delle dispense di Analisi 3 </a>
                </li>
            </ul>
        </div>
    </div>
</Base>
