---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Algoritmi e Strutture Dati']}>
    <h1 slot="header-title">Algoritmi e Strutture Dati</h1>
    <div class="content">
        <div class="text">
            <p>
                Appunti scritti a mano sul tablet per le slide del corso di Algoritmi e Strutture Dati dell'anno
                2023/2024.
            </p>
            <ul>
                <li><a href="https://static.aziis98.com/appunti/asd-slides.pdf">Slide del corso concatenate</a></li>
                <li>
                    <a href="https://static.aziis98.com/appunti/asd-appunti.pdf">
                        Appunti di Algoritmi e Strutture Dati
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Base>
