---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Geometria 2']}>
    <h1 slot="header-title">Geometria 2</h1>
    <div class="content">
        <div class="text">
            <p>
                Raccolta di appunti tratti dalle lezioni del corso dell'anno 2019/2020 del professor <em>Frigerio</em>.
            </p>
            <ul>
                <li>
                    <p>
                        <a href="https://gitlab.com/aziis98/geometria-2/-/raw/master/main.pdf">
                            Dispense di Geometria 2
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://gitlab.com/aziis98/geometria-2"> Repo git delle dispense di G2 </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</Base>
