---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Logica']}>
    <h1 slot="header-title">Logica</h1>
    <div class="content">
        <div class="text">
            <p>
                Formulario per il corso del professor <em>Berarducci</em> dell'anno 2020/2021.
            </p>
            <ul>
                <li>
                    <a href="https://gitlab.com/aziis98-notes/formulari/logica/-/raw/main/main.pdf">
                        Formulario di Logica
                    </a>
                    (link sempre all'ultima versione)
                </li>
                <li>
                    <a href="https://gitlab.com/aziis98-notes/formulari/logica"> Repo git del formulario di Logica </a>
                </li>
            </ul>
        </div>
    </div>
</Base>
