---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Meccanica Razionale']}>
    <h1 slot="header-title">Meccanica Razionale</h1>
    <div class="content">
        <div class="text">
            <p>
                Note alle dispense del corso di Meccanica Razionale dell'anno 2023/2024. Spesso ci sono molti conti e
                dimostrazioni con dettagli mancanti, queste sono le mie note (scritte a mano sul tablet) con la maggior
                parte delle dimostrazioni annotate e qualche disegnino dove possibile.
            </p>

            <ul>
                <li>
                    <a href="https://static.aziis98.com/appunti/meccanica-razionale-teoria.pdf"
                        >Note di Meccanica Razionale</a>
                </li>
                <li>
                    <a href="https://static.aziis98.com/appunti/MR-full.pdf">PDF con tutti i capitoli concatenati</a> delle
                    dispense del corso scritte dal professore (lo metto perché potrebbe non essere aggiornato con il corso
                    attuale)
                </li>
            </ul>

            <p>Altri link utili, principalmente compiti vecchi con soluzioni:</p>

            <ul>
                <li>
                    Compiti vecchi:
                    <a href="http://adams.dm.unipi.it/~gronchi/HOMEPAGE/mr.html"
                        >http://adams.dm.unipi.it/~gronchi/HOMEPAGE/mr.html</a
                    >
                </li>
                <li>
                    Compiti vecchi con soluzioni:
                    <a href="https://poisson.phc.dm.unipi.it/~lari/compiti_mr.html"
                        >https://poisson.phc.dm.unipi.it/~lari/compiti_mr.html</a
                    >
                </li>
                <li>
                    Qui c'è una spiegazione più dettagliata della
                    <a href="https://it.wikipedia.org/wiki/Trottola#Modello_fisico">trottola di Lagrange</a> con dei disegni
                    dei tre tipi di moto:
                    <a href="http://www.mat.uniroma3.it/users/gentile/2018-2019/FM410/testo/volume2-193-214.pdf"
                        >http://www.mat.uniroma3.it/users/gentile/2018-2019/FM410/testo/volume2-193-214.pdf</a
                    >
                </li>
            </ul>
        </div>
    </div>
</Base>
