---
import Base from '@/layout/Base.astro'
---

<Base title={['Academia', 'Ricerca Operativa']}>
    <h1 slot="header-title">Ricerca Operativa</h1>
    <div class="content">
        <div class="text">
            <p>Appunti scritti a mano sul tablet</p>
            <ul>
                <li>
                    <a href="https://static.aziis98.com/appunti/ricerca-operativa-formulario-2.pdf" target="_blank">
                        Formulario Seconda Parte
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Base>
