---
import ProjectCard from '@/components/astro/ProjectCard.astro'
import Base from '@/layout/Base.astro'
import { getProjectsData } from '@/projects'

const { githubRepoDetails, phcGiteaRepoDetails } = await getProjectsData()
---

<Base title={'Projects'}>
    <h1 slot="header-title">Projects</h1>
    <div class="content wide">
        <div class="text">
            <p>
                This page contains a list of the most important stuff I worked on in the recent years. There are a
                couple of university-related projects, some random programming projects and some projects I started or
                contributed to while at <a href="https://phc.dm.unipi.it/">PHC</a>.
            </p>
        </div>

        <h2>Featured GitHub Projects</h2>
        <div class="project-grid">
            {githubRepoDetails.map(repo => <ProjectCard {...repo} />)}
        </div>
        <div class="text">
            <p>
                <a target="_blank" href="https://github.com/aziis98?tab=repositories">More...</a>
            </p>
        </div>

        <h2>Featured PHC Projects</h2>
        <div class="text">
            <p>
                Here are some of the projects I worked on and contributed to while at <a href="https://phc.dm.unipi.it/"
                    >PHC</a
                >. They are hosted on <a href="https://git.phc.dm.unipi.it/">our Gitea instance</a> we manage for the students
                of the
                <a href="https://www.dm.unipi.it/">Department of Mathematics</a> at the University of Pisa.
            </p>
        </div>
        <div class="project-grid">
            {phcGiteaRepoDetails.map(repo => <ProjectCard {...repo} />)}
        </div>

        <div class="text">
            <p>
                <a target="_blank" href="https://git.phc.dm.unipi.it/aziis98/">More...</a>
            </p>
        </div>
    </div>
</Base>
