---
import Base from '@/layout/Base.astro'
---

<Base>
    <h1 slot="header-title">Projects</h1>
    <div class="content wide">
        <div class="text">
            <p>
                This is a list of my projects, mostly related to web development and programming. Some of them are open
                source, while others are private or for personal use.
            </p>
        </div>
    </div>
</Base>
