@layer base, typography, components, utilities;

:root {
    --accent: hsl(266, 100%, 77%);
    --accent-2: hsl(239, 100%, 77%);

    --text-fg: #222;

    --font-monospace: 'JetBrains Mono Variable';
    --font-title: 'Outfit Variable';
    --font-base: 'Inter Variable';

    --heading-base-size: 18px;
    --heading-scale-factor: 1.41;
}

@media screen and (width <= 600px) {
    :root {
        --heading-base-size: 16px;
        --heading-scale-factor: 1.25;
    }
}

@layer base {
    *,
    *::before,
    *::after {
        font-family: inherit;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;

        min-height: 100%;
    }

    .content {
        > * {
            &:not(:first-child) {
                margin-top: 1rem;
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    /* text selection */
    ::selection {
        background: #0003;
    }
}

@layer typography {
    body {
        color: var(--text-fg, #333);
        font-family: var(--font-base);

        background: #282828;

        font-size: 18px;
        line-height: 1.75;

        /* os independent font stack */
        font-family:
            -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Inter', 'Open Sans',
            'Helvetica Neue', sans-serif;

        @media screen and (width <= 600px) {
            font-size: 16px;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--font-title);

        line-height: 1.125;

        margin-top: 0.75em;

        @media screen and (max-width: 768px) {
            margin-top: 1em;
        }

        position: relative;

        .decoration {
            position: absolute;

            right: calc(100% + 1.5rem);

            /* left: -0.25rem;
            right: +0.25rem; */

            /* display: inline-block; */

            top: 0;
            height: 100%;
            /* width: 100%; */
            width: 1em;

            /* background: #b8f1; */
        }
    }

    h1 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 4));
        font-weight: 400;
    }
    h2 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 3));
        font-weight: 400;
    }
    h3 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 2));
        font-weight: 400;
    }
    h4 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 1));
        font-weight: 400;
    }

    p,
    ul,
    ol,
    blockquote,
    li,
    pre,
    table,
    figure {
        margin: 1rem 0;
    }

    ul,
    ol {
        padding-left: 1.5rem;

        line-height: 1.5;

        li {
            p {
                margin: 0.5rem 0;
            }
        }
    }

    ol {
        list-style-type: lower-roman;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* max-width: 52rem; */

        &:first-child {
            margin-top: 0;
        }
    }

    .text {
        > p {
            max-width: 80ch;
        }

        a {
            color: hsl(from var(--accent) h s 65%);
            text-decoration: none;

            word-break: break-all;

            &:hover {
                color: hsl(from var(--accent) h s 50%);
                text-decoration: underline solid hsl(from var(--accent) h s 60%) 2px;
            }
        }
    }

    pre,
    code {
        font-family: var(--font-monospace);
        line-height: 1;

        font-size: 0.8em;
    }

    p > code {
        background: #0001;
        padding: 0 1px;
    }

    .katex {
        font-size: 1.1em !important;

        img {
            display: inline-block;
            margin: 0 0.125em;

            width: auto;
            max-width: none;

            height: auto;
            max-height: none;

            display: initial;
            vertical-align: sub;
        }
    }

    .katex-display > .katex {
        font-size: 1.4em !important;
    }

    pre:not(:has(.katex)) {
        margin: 1rem auto;
        min-width: 25rem;
        width: fit-content;
        max-width: calc(100% - 2rem);
        overflow-x: auto;

        padding: 0.5rem;

        border-radius: 2px;
        border: 2px solid #ddd;
        box-shadow: 0 0 0.5rem #00000012;

        font-size: 1em;

        @media screen and (width <= 600px) {
            min-width: auto;
            max-width: 100%;
        }
    }

    pre:has(.katex) {
        /* width: fit-content; */
        max-width: calc(100% - 2rem);
        overflow-x: auto;
        margin: 0 auto;

        @media screen and (width <= 600px) {
            max-width: 100%;
        }
    }

    li {
        pre:has(.katex) {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    img,
    p > img {
        display: block;

        margin: 1rem auto;

        width: 100%;
        max-width: calc(100% - 2rem);
        max-height: 30vh;
        object-fit: contain;

        /* border-radius: 2px;
        border: 2px solid #ddd;
        box-shadow: 0 0 0.5rem #0001; */

        @media screen and (width <= 600px) {
            width: 100%;

            max-width: calc(100% - 2rem);
        }
    }

    hr {
        margin: 2rem;
        width: calc(100% - 4rem);
        height: 4px;
        background: hsl(266, 100%, 70%);
        border: none;

        @media screen and (width <= 600px) {
            width: 100%;
            margin: 2rem 0;
        }
    }

    /* main {
        .pixelart-plant-art {
            max-width: calc(100% - 6rem);
            max-height: 3rem;
            margin: 3rem;
        }
    } */
}

@layer components {
    body {
        display: grid;

        grid-template-columns: 1fr minmax(auto, 80ch) 1fr;
        grid-template-rows: auto auto;

        --main-gap: 1.5rem;

        @media screen and (width <= 960px) {
            --main-gap: 1rem;
        }

        @media screen and (width <= 1200px) {
            grid-template-columns: 1fr minmax(auto, 70ch) 1fr;
        }

        &:has(.content.wide) {
            grid-template-columns: auto 1fr;

            @media screen and (width <= 600px) {
                grid-template-columns: auto;
            }
        }

        > header {
            display: grid;

            grid-column: 1 / -1;
            grid-template-columns: subgrid;
            grid-template-rows: calc(5px * 31) auto;

            row-gap: 2rem;

            grid-auto-flow: dense;

            padding: 0 1rem var(--main-gap) 1rem;
            background: #282828;

            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 0.5rem;
                background: linear-gradient(to bottom, #0003, transparent);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.5rem;
                background: linear-gradient(to top, #0003, transparent);
            }

            > * > .pixelart-plant-art {
                display: grid;

                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }

            > .logo {
                padding-right: var(--main-gap);

                text-decoration: none;

                display: grid;
                place-self: end end;

                font-family: 'Iosevka';
                font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 2));
                font-weight: 600;
                line-height: 1.2;

                color: #fff;

                color: #fff;

                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            > .header-title {
                display: grid;
                place-content: end start;
                grid-column: 2 / 4;
                grid-row: 2 / 3;

                color: hsl(from var(--accent) h s 95%);

                > h1 {
                    line-height: 1;
                    text-wrap: balance;
                }
            }
        }

        > main {
            display: grid;
            grid-template-columns: subgrid;

            grid-column: 1 / -1;

            background: #fff;

            > .sidebar {
                /* the + 0.25rem is a correction to match the text-top line of the art and the text */
                padding: calc(var(--main-gap) + 0.25rem) var(--main-gap) 0 0;

                justify-self: end;

                > .art-decoration {
                    justify-self: end;
                    height: calc(round(25vh, 10px) + 5px);
                }
            }

            > .content {
                grid-column: 2 / 3;
                padding: 1.15rem 0 12rem;
                min-width: 0;

                &.wide {
                    padding-right: var(--main-gap);
                }

                @media screen and (width <= 600px) {
                    &,
                    &.wide {
                        padding: 1rem 1rem 12rem;
                    }
                }
            }
        }

        @media screen and (width <= 960px) {
            grid-template-columns: auto 70ch;

            > header {
                > .header-title {
                    grid-column: 2 / 3;
                }
            }

            > main {
                > .sidebar {
                    width: auto;
                }
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: auto;

            > header {
                grid-template-rows: calc(5px * 31) auto auto;
                gap: 0;
                padding: 0 0.5rem 0.5rem;

                > .logo {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;

                    place-self: start start;

                    padding: 0.5rem;
                    margin-top: 1rem;
                }

                > .header-title {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;

                    place-content: start start;

                    padding: 0.5rem;
                }
            }

            > main {
                > .sidebar {
                    display: none;
                }
            }
        }
    }

    nav {
        position: sticky;
        top: -0.25rem;

        width: 15rem;

        display: grid;
        grid-auto-flow: row;
        gap: 1rem;

        align-self: start;
        justify-self: end;

        justify-content: end;

        .nav-item {
            font-family: var(--font-base);
            font-weight: 600;
            cursor: pointer;

            color: hsl(from var(--accent) h s 65%);

            height: 2rem;
            padding: 0 0.75rem;

            margin-right: 0.25rem;

            display: grid;
            align-content: center;
            justify-content: end;

            border-radius: 3px;

            &:hover {
                color: hsl(from var(--accent) h calc(s - 50) 50%);
                background: hsl(from var(--accent) h s 90%);
            }
        }
    }

    .pixelart-plant-art {
        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .metadata {
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;

        border-top: 4px solid #333;
        border-left: 4px solid #333;
        padding: 0.5rem;

        min-height: 4rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag {
        display: inline-block;

        font-size: 0.8em;

        background: #555;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 3px;

        font-family: var(--font-monospace);

        &:is(a) {
            &:hover {
                background: hsl(from var(--accent) h calc(s - 50) 65%);
            }
        }
    }

    .blog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21rem, auto));
        gap: 1rem;

        .blog-item {
            padding: 0.5rem;

            display: grid;
            grid-template-rows: auto 1fr;
            grid-auto-flow: row;
            gap: 0.5rem;

            font-size: 13pt;
            line-height: 1.5;

            color: #ddd;
            background: #444;

            border-radius: 3px;
            border: 4px solid #444;

            cursor: pointer;

            > .title {
                color: hsl(from var(--accent) h 80% 80%);

                font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 1));
                line-height: 1.25;
                font-weight: 600;
            }

            > .tags {
                font-size: 16px;
            }

            &:hover {
                > .title {
                    color: hsl(from var(--accent) h s 65%);
                }

                background: #fff;
                color: #333;
            }

            @media screen and (width <= 600px) {
                /* > .title {
                    color: hsl(from var(--accent) h s 70%);
                }

                background: #fff;
                color: #333; */

                background: #444;
                border-color: #444;
            }
        }
    }
}

@layer utility {
    .text-center {
        text-align: center;
    }

    .text-dimmed {
        opacity: 0.7;
    }
}
