@layer base, typography, components, utilities;

:root {
    --accent: hsl(266, 100%, 77%);
    --accent-2: hsl(239, 100%, 77%);

    --text-fg: #222;

    --font-monospace: 'JetBrains Mono Variable';
    --font-title: 'Outfit Variable';
    --font-base: 'Inter Variable';

    --heading-base-size: 18px;
    --heading-scale-factor: 1.41;

    --card-shadow: 0 0 1rem #0001, 0 0.125rem 0.25rem #0004;
}

@media screen and (width <= 600px) {
    :root {
        --heading-base-size: 16px;
        --heading-scale-factor: 1.25;
    }
}

@layer base {
    *,
    *::before,
    *::after {
        font-family: inherit;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;

        min-height: 100%;
    }

    .content {
        > * {
            &:not(:first-child) {
                margin-top: 1rem;
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

@layer typography {
    body {
        color: var(--text-fg, #333);
        font-family: var(--font-base);

        background: #282828;

        font-size: 18px;
        line-height: 1.75;

        /* os independent font stack */
        font-family:
            -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Inter', 'Open Sans',
            'Helvetica Neue', sans-serif;

        @media screen and (width <= 600px) {
            font-size: 16px;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--font-title);

        line-height: 1.125;

        margin-top: 0.75em;

        @media screen and (max-width: 768px) {
            margin-top: 1em;
        }

        position: relative;

        .decoration {
            position: absolute;

            right: calc(100% + 1.5rem);

            /* left: -0.25rem;
            right: +0.25rem; */

            /* display: inline-block; */

            top: 0;
            height: 100%;
            /* width: 100%; */
            width: 1em;

            /* background: #b8f1; */
        }
    }

    h1 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 4));
        font-weight: 400;
    }
    h2 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 3));
        font-weight: 400;
    }
    h3 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 2));
        font-weight: 400;
    }
    h4 {
        font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 1));
        font-weight: 400;
    }

    p,
    ul,
    ol,
    blockquote,
    li,
    pre,
    table,
    figure {
        margin: 1rem 0;
    }

    ul,
    ol {
        padding-left: 1.5rem;

        li {
            p {
                margin: 0.5rem 0;
            }
        }
    }

    ol {
        list-style-type: lower-roman;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* max-width: 52rem; */

        &:first-child {
            margin-top: 0;
        }
    }

    .text {
        > p {
            max-width: 80ch;
        }

        a {
            color: hsl(from var(--accent) h s 65%);
            text-decoration: none;

            word-break: break-all;

            &:hover {
                color: hsl(from var(--accent) h s 50%);
                text-decoration: underline solid hsl(from var(--accent) h s 60%) 2px;
            }

            /* &:is([href^='https://static.aziis98.com'])
            {
                color: #d00;
                text-decoration: line-through solid #d00;

                pointer-events: none;

                &::after {
                    content: ' (temporarily unavailable)';
                    color: #d00;
                }
            } */
        }

        strong {
            font-weight: 600;
        }

        em {
            font-style: italic;
        }

        strike {
            text-decoration: line-through solid #333 2px;
        }

        img,
        p > img {
            display: block;

            margin: 1rem auto;

            width: 100%;
            max-width: calc(100% - 2rem);
            max-height: 30vh;
            object-fit: contain;

            @media screen and (width <= 600px) {
                width: 100%;

                max-width: calc(100% - 2rem);
            }
        }

        .katex {
            font-size: 1.1em !important;

            img {
                display: inline-block;
                margin: 0 0.125em;

                width: auto;
                max-width: none;

                height: auto;
                max-height: none;

                display: initial;
                vertical-align: sub;
            }
        }

        .katex-display > .katex {
            font-size: 1.4em !important;
        }

        iframe {
            margin: 1rem auto;
            display: block;

            width: 30rem;
            height: 20rem;
            max-width: 100%;

            border-radius: 0.5rem;
            box-shadow: var(--card-shadow);

            @media screen and (width <= 600px) {
                max-height: 15rem;
            }
        }

        .post-thumbnail {
            display: block;
            margin: 1rem auto;

            width: auto;

            border-radius: 0.5rem;
            box-shadow: var(--card-shadow);

            padding: 0 1rem;
        }
    }

    pre,
    code {
        font-family: var(--font-monospace);
        line-height: 1;

        font-size: 0.8em;
    }

    p > code {
        background: #0001;
        padding: 0 1px;
    }

    pre:not(:has(.katex)) {
        margin: 1rem auto;
        min-width: 25rem;
        width: fit-content;
        max-width: calc(100% - 2rem);
        overflow-x: auto;

        padding: 0.5rem;

        border-radius: 2px;
        border: 2px solid #ddd;
        box-shadow: 0 0 0.5rem #00000012;

        font-size: 1em;

        @media screen and (width <= 600px) {
            min-width: auto;
            max-width: 100%;
        }
    }

    pre:has(.katex) {
        /* width: fit-content; */
        max-width: calc(100% - 2rem);
        overflow-x: auto;
        margin: 0 auto;

        @media screen and (width <= 600px) {
            max-width: 100%;
        }
    }

    li {
        pre:has(.katex) {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    hr {
        margin: 2rem;
        width: calc(100% - 4rem);
        height: 4px;
        background: hsl(266, 100%, 70%);
        border: none;

        @media screen and (width <= 600px) {
            width: 100%;
            margin: 2rem 0;
        }
    }

    img {
        object-fit: contain;
    }
}

@layer components {
    body {
        display: grid;

        grid-template-columns: 1fr minmax(auto, 80ch) 1fr;
        grid-template-rows: auto 1fr;

        --main-gap: 1.5rem;

        @media screen and (width <= 960px) {
            --main-gap: 1rem;
        }

        @media screen and (width <= 1200px) {
            grid-template-columns: 1fr minmax(auto, 70ch) 1fr;
        }

        &:has(.content.wide) {
            grid-template-columns: auto 1fr;

            @media screen and (width <= 600px) {
                grid-template-columns: auto;
            }
        }

        #mobile-sidebar-menu {
            display: none;
        }

        > header {
            display: grid;

            align-self: start;

            grid-column: 1 / -1;
            grid-template-columns: subgrid;
            grid-template-rows: calc(5px * 31) auto;

            row-gap: 2rem;

            grid-auto-flow: dense;

            padding: 0 1rem var(--main-gap) 1rem;
            background: #282828;

            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 0.5rem;
                background: linear-gradient(to bottom, #0003, transparent);
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 0.5rem;
                background: linear-gradient(to bottom, #0003, transparent);
            }

            > * > .pixelart-plant-art {
                display: grid;

                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }

            > .logo {
                padding-right: var(--main-gap);

                text-decoration: none;

                display: grid;
                place-self: end end;

                font-family: 'Iosevka';
                font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 2));
                font-weight: 600;
                line-height: 1.2;

                color: #fff;

                color: #fff;

                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            > .header-title {
                display: grid;
                place-content: end start;
                grid-column: 2 / 4;
                grid-row: 2 / 3;

                color: hsl(from var(--accent) h s 95%);

                > h1 {
                    line-height: 1;
                    text-wrap: balance;
                }
            }

            > .mobile-menu {
                display: none;
            }
        }

        > main {
            display: grid;
            grid-template-columns: subgrid;

            grid-column: 1 / -1;

            background: #fff;

            padding-bottom: 2rem;

            min-height: 100vh;

            > .sidebar {
                /* the + 0.25rem is a correction to match the text-top line of the art and the text */
                padding: calc(var(--main-gap) + 0.25rem) var(--main-gap) 0 0;

                justify-self: end;

                > .art-decoration {
                    justify-self: end;
                    height: calc(round(20vh, 10px) + 5px);
                }
            }

            > .content {
                grid-column: 2 / 3;
                padding: 1.15rem 0 10rem;
                min-width: 0;

                &.wide {
                    padding-right: var(--main-gap);
                }

                @media screen and (width <= 600px) {
                    &,
                    &.wide {
                        padding: 1rem 1rem 10rem;
                    }
                }
            }
        }

        @media screen and (width <= 960px) {
            grid-template-columns: auto 70ch;

            > header {
                > .header-title {
                    grid-column: 2 / 3;
                }
            }

            > main {
                > .sidebar {
                    width: auto;
                }
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: auto;

            > header {
                grid-template-rows: calc(5px * 31) auto auto;
                gap: 0;
                padding: 0 0.5rem 0.5rem;

                > .logo {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;

                    place-self: end start;

                    padding: 0.5rem;
                    margin-top: 1rem;

                    /* font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 4)); */
                }

                > .header-title {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;

                    place-content: start start;

                    padding: 0.5rem;
                }

                > .mobile-menu {
                    display: grid;

                    position: fixed;

                    left: 0.5rem;
                    top: 0.5rem;

                    padding: 0.75rem;
                    background: linear-gradient(calc(180deg - 30deg), #555, #222);
                    border-radius: 0.25rem;
                    border: 2px solid #444;

                    color: #efefef;

                    box-shadow: var(--card-shadow);

                    z-index: 100;
                }
            }

            > main {
                > .sidebar {
                    display: grid;
                    grid-template-rows: 150px repeat(5, auto) 150px;

                    place-self: stretch;
                    align-content: center;

                    position: fixed;

                    top: -6rem;
                    right: auto;
                    left: 0;
                    bottom: -6rem;

                    width: 66vw;

                    box-shadow: var(--card-shadow);

                    background: #fff;
                    z-index: 50;

                    padding: 0;
                    padding-right: 1rem;

                    transition: transform 300ms ease-in-out;

                    .art-decoration {
                        justify-self: end;
                        height: 100%;
                    }
                }
            }

            /* When the sidebar is closed */
            &:has(#mobile-sidebar-menu:not(:checked)) {
                .mobile-sidebar-menu-open {
                    display: none;
                }

                > main {
                    > .sidebar {
                        transform: translateX(calc(-100% - 2px));
                    }
                }
            }

            /* When the sidebar is open */
            &:has(#mobile-sidebar-menu:checked) {
                /* overflow: hidden; */

                .mobile-sidebar-menu-close {
                    display: none;
                }

                > main {
                    > .sidebar {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    nav {
        position: sticky;
        top: -0.25rem;

        width: 19rem;

        display: grid;
        grid-auto-flow: row;
        gap: 1rem;

        align-self: start;
        justify-self: end;

        justify-content: end;
        justify-items: end;

        .nav-item {
            font-family: var(--font-base);
            font-weight: 600;
            cursor: pointer;

            color: hsl(from var(--accent) h s 65%);

            height: 2rem;
            padding: 0 0.75rem;

            margin-right: 0.25rem;

            display: grid;
            align-content: center;
            justify-content: end;

            border-radius: 3px;

            &:hover {
                color: hsl(from var(--accent) h calc(s - 50) 50%);
                background: hsl(from var(--accent) h s 90%);
            }
        }
    }

    .pixelart-plant-art {
        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .metadata {
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;

        border-top: 4px solid #333;
        border-left: 4px solid #333;
        padding: 0.5rem;

        min-height: 4rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag {
        display: inline-block;

        font-size: 0.8em;

        background: #555;
        color: #fff;
        padding: 0 0.3rem;
        border-radius: 3px;

        font-family: var(--font-monospace);

        &:is(a) {
            &:hover {
                background: hsl(from var(--accent) h calc(s - 50) 65%);
            }
        }
    }

    .blog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21rem, auto));
        gap: var(--main-gap);

        .blog-item {
            padding: 0.5rem;

            min-height: 12rem;

            display: grid;
            grid-template-rows: auto 1fr;
            grid-auto-flow: row;
            gap: 0.5rem;

            font-size: 13pt;
            line-height: 1.5;

            color: #ddd;

            background: linear-gradient(calc(180deg - 30deg), #444, #333);
            border-radius: 3px;
            border: 4px solid #444;

            cursor: pointer;

            box-shadow: var(--card-shadow);

            > .title {
                color: hsl(from var(--accent) h 85% 85%);

                font-size: calc(var(--heading-base-size) * pow(var(--heading-scale-factor), 1));
                line-height: 1.25;
                font-weight: 600;
            }

            > .tags {
                font-size: 16px;
            }

            &:hover {
                > .title {
                    color: hsl(from var(--accent) h s 65%);
                }

                background: #fff;
                color: #333;

                border: 4px solid #444;
            }

            @media screen and (width <= 600px) {
                /* > .title {
                    color: hsl(from var(--accent) h s 70%);
                }

                background: #fff;
                color: #333; */

                background: #444;
                border-color: #444;
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: auto;
        }
    }

    .art-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21rem, auto));
        grid-auto-rows: calc(21rem / 1.5);
        gap: var(--main-gap);

        img {
            background: #fff;

            object-fit: cover;

            border-radius: 0.25rem;

            width: 100%;
            height: 100%;

            box-shadow: var(--card-shadow);
        }

        &.interactive {
            img {
                &:hover {
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }

        &:not(.interactive) {
            img {
                transition: transform 64ms ease-out;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: repeat(auto-fill, minmax(100%, auto));
            grid-auto-rows: 13rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21rem, auto));
        gap: var(--main-gap);

        /* align-items: start; */

        --github-border-color: hsl(208, 19%, 85%);

        .project-item {
            display: grid;
            grid-template-rows: auto 1fr;

            border-radius: 0.25rem;
            padding: 0.75rem 0.5rem 0.5rem;
            gap: 0.5rem;

            background: linear-gradient(calc(180deg - 30deg), #fff, hsl(from var(--github-border-color) h 15% 95%));
            color: #333;

            min-height: 10rem;

            /* box-shadow: var(--card-shadow); */

            border: 1px solid var(--github-border-color);
            box-shadow: 0 0 1rem #00000008;

            > .name {
                font-size: 15px;
                font-family: var(--font-monospace);
                font-weight: 500;
                line-height: 1;

                display: grid;
                gap: 0.35rem;
                grid-template-columns: auto 1fr;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;

                    overflow: visible;
                }

                a {
                    display: grid;
                    align-items: center;

                    color: #333;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            > .description {
                font-size: 15px;
                color: #555;
                line-height: 1.75;

                padding-left: 0.25rem;
                padding-right: 0.25rem;

                padding-bottom: 0.75rem;

                a {
                    color: inherit;
                    text-decoration: underline dotted #000;

                    &:hover {
                        color: hsl(from var(--accent) h s 50%);
                        text-decoration: underline solid hsl(from var(--accent) h s 60%) 2px;
                    }
                }
            }

            > .topics {
                display: flex;
                flex-wrap: wrap;
                gap: 0.25rem;

                user-select: none;

                .topic {
                    display: grid;
                    place-content: center;
                    place-items: center;

                    font-size: 13px;
                    font-weight: 500;

                    height: 1.25rem;

                    background: hsl(from var(--accent) h s 95%);
                    color: hsl(from var(--accent) h calc(s - 50) 60%);
                    padding: 0 0.5rem;
                    border-radius: 1rem;

                    &:hover {
                        background: hsl(from var(--accent) h s 90%);
                        color: hsl(from var(--accent) h calc(s - 50) 50%);
                    }
                }
            }

            > .stats {
                display: flex;
                gap: 0.5rem;

                font-size: 14px;

                color: #555;

                padding-right: 0.5rem;

                > * {
                    display: grid;
                    grid-auto-flow: column;
                    gap: 0.25rem;

                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .spacer {
                    flex-grow: 1;
                }

                .stars {
                    color: hsl(from var(--accent) 45 s 20%);

                    svg {
                        color: hsl(from var(--accent) 45 s 55%);
                    }
                }

                .technologies {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    align-items: center;

                    svg {
                        font-size: 24px;
                        overflow: visible;
                    }
                }
            }

            &:hover {
                border: 1px solid hsl(from var(--github-border-color) h s 70%);
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: repeat(auto-fill, minmax(100%, auto));
        }
    }

    .notebook-grid {
        /* display: grid;

        --notebook-size: 13rem;
        grid-template-columns: repeat(auto-fit, minmax(auto, var(--notebook-size)));
        grid-auto-rows: calc(var(--notebook-size) * 1.33);

        gap: var(--main-gap); */

        --notebook-size: 13rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: end;

        gap: var(--main-gap);

        .notebook-item {
            color: inherit;

            padding: 0.5rem 1.25rem;
            padding-right: 1.5rem;

            position: relative;

            width: var(--notebook-size);
            height: calc(var(--notebook-size) * 1.33);

            line-height: 1.25;

            color: oklch(from var(--notebook-color, gray) calc(l - 0.6) c h);
            background: #fff;

            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
            box-shadow:
                0 0 1rem #0001,
                0 0 0.25rem #0003;

            z-index: 10;

            display: grid;
            place-content: start start;
            grid-auto-flow: row;
            gap: 0.75rem;

            &.larger {
                --notebook-size: 14rem;
            }

            &::before {
                content: '';
                position: absolute;

                top: -1px;
                left: 0;
                right: 0.5rem;
                bottom: -1px;

                background: linear-gradient(
                    calc(180deg - 30deg),
                    oklch(from var(--notebook-color, gray) calc(l + 0.05) calc(c + 0.03) h),
                    oklch(from var(--notebook-color, gray) calc(l - 0.1) calc(c + 0.03) h)
                );
                border: 2px solid oklch(from var(--notebook-color, gray) calc(l - 0.1) c h);
                border-left: none;

                border-top-right-radius: 0.75rem;
                border-bottom-right-radius: 0.75rem;

                box-shadow:
                    0 0 1rem #0001,
                    0 0 0.25rem #0004;

                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: 0;
                width: 0.5rem;

                background: linear-gradient(
                    calc(180deg - 10deg),
                    oklch(from var(--notebook-color, gray) calc(l - 0.4) c h),
                    oklch(from var(--notebook-color, gray) calc(l - 0.5) c h)
                );
                border: 1px solid oklch(from var(--notebook-color, gray) 20% c h);

                z-index: -1;
            }

            &,
            &::before,
            &::after {
                transition: all 128ms ease-out;
            }

            &:hover {
                box-shadow:
                    0 0 1.5rem #0003,
                    0 0 0.25rem #0006;

                &::before {
                    right: 1rem;
                }
            }

            > .title {
                font-family: var(--font-title);
                font-size: 22px;
                font-weight: 500;
                text-wrap: balance;
            }

            > .info {
                font-size: 16px;
            }
        }

        @media screen and (width <= 600px) {
            --notebook-size: 9.5rem;

            .notebook-item {
                padding-left: 1rem;
                gap: 0.5rem;

                &.larger {
                    --notebook-size: 11rem;
                }

                > .title {
                    font-size: 17px;
                }

                > .info {
                    font-size: 14px;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    .profile-picture {
        float: left;

        width: 6rem;
        margin: 1rem 1rem 0.5rem 0;
        border-radius: 6rem;

        box-shadow: var(--card-shadow);
    }
}

@layer utility {
    .text-center {
        text-align: center;
    }

    .text-dimmed {
        opacity: 0.7;
    }
}
