---
import '@fontsource-variable/inter'
import '@fontsource-variable/outfit'
import '@fontsource-variable/jetbrains-mono'

import '@fontsource/iosevka'

import 'katex/dist/katex.min.css'

import '@/main.css'
import { PixelartPlantRect } from '@/components/preact/plant-pixelart'
import { Icon } from 'astro-icon/components'

type Props = {
    title?: string | string[]
    description?: string
    thumbnail?: string
}

const { title, description, thumbnail } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content={['aziis98', title ?? []].flat().reverse().join(' - ')} />
        <meta
            property="og:description"
            content={description ??
                "I'm Antonio De Lucreziis, I study Maths in Pisa and I'm interested in computer science. There is also an art section with a gallery of most of my works"}
        />
        <meta property="og:image" content={thumbnail ?? '/icon.png'} />

        <title>{['aziis98', title ?? []].flat().reverse().join(' | ')}</title>
        <link rel="icon" type="image/png" sizes="192x192" href="/icon.png" />

        <script>
            // @ts-nocheck
            // This import "katex" only on the client side, on the user's browser.
            import katex from 'katex'

            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.math-inline').forEach($e => {
                    const $s = document.createElement('span')
                    $e.parentElement.insertBefore($s, $e)

                    katex.render($e.textContent, $e, {
                        throwOnError: false,
                        displayMode: false,
                        trust: true,
                    })

                    $s.appendChild($e.firstChild)
                    $e.remove()
                })

                document.querySelectorAll('.math-display').forEach($e => {
                    const $p = document.createElement('p')
                    const $s = document.createElement('span')
                    $p.appendChild($s)

                    $e.parentElement.insertBefore($p, $e)

                    katex.render($e.textContent, $e, {
                        throwOnError: false,
                        displayMode: true,
                        trust: true,
                    })

                    $s.appendChild($e.firstChild)
                    $e.remove()
                })
            })
        </script>
    </head>
    <body>
        <input type="checkbox" id="mobile-sidebar-menu" autocomplete="off" />

        <header>
            <!-- Header Art -->
            <PixelartPlantRect
                client:load
                options={{
                    cellColor: '#66666606',
                    spawnLocation: 'top',
                }}
            />

            <label class="mobile-menu" for="mobile-sidebar-menu">
                <Icon class="mobile-sidebar-menu-close" name="octicon:sidebar-collapse-16" size={24} />
                <Icon class="mobile-sidebar-menu-open" name="octicon:sidebar-expand-16" size={24} />
            </label>

            <a class="logo" href="/">aziis98</a>

            <div class="header-title">
                <slot name="header-title" />
            </div>
        </header>
        <main>
            <nav class="sidebar">
                <div class="art-decoration">
                    <PixelartPlantRect
                        client:load
                        updateInterval={5}
                        stopTimeout={5000}
                        width={7 * 5}
                        options={{ cellColor: 'hsl(266 90% 75% / 0.25)', spawnLocation: 'bottom' }}
                    />
                </div>

                <a class="nav-item" href="/">Home</a>

                <a class="nav-item" href="/blog">Blog</a>

                <a class="nav-item" href="/art">Art</a>

                <a class="nav-item" href="/projects">Projects</a>

                <a class="nav-item" href="/academia">Academia</a>

                <div class="art-decoration">
                    <PixelartPlantRect
                        client:load
                        updateInterval={5}
                        stopTimeout={5000}
                        width={7 * 5}
                        options={{ cellColor: 'hsl(266 90% 75% / 0.25)', spawnLocation: 'top' }}
                    />
                </div>
            </nav>

            <slot />
        </main>
    </body>
</html>
